
.alo{ margin: 20px;
    width: 250px;
    height: 280px;

    border: 1px solid red;
    display: flex;
    flex-direction: column;
   
}
h3{
    text-align: center;
    margin: 0;
    margin-top: auto;
}
h5{
    color: red;
    text-align: center;
    margin: 10px;
    margin-bottom: 15px;
}


